:root {
    --yellow: #b1951d;
    --light-yellow: #f6f1e1;
    --light-light-yellow: #fbf8ef;
    --orange-text: #da8b55;
    --blue-headings: #3a81c3;
    --aqua: #2d9574;
    --cyan: #21b8c7;
    --teal-links: #2aa1ae;
    --red-background: #eed9d2;
    --red-warning: #f2241f;
    --red-border: #ba2f59;
    --purple-background-light: #ddd8eb;
    --purple-background-dark: #9380b2;
    --purple-text-bright: #a31db1;
    --purple-text: #4e3163;
    --purple-title: #6c3163;
}

body {
    cursor: url(../resources/nyan.cur), auto !important;
    background-color: var(--light-light-yellow);
}

a {
    text-decoration: underline;
    color: var(--teal-links);
    font-family: sans;
}

a:hover, a:active {
    cursor: url(../resources/rainbow.png), auto !important;
    background-color: var(--yellow);
    color: var(--light-light-yellow);
}

p {
    font-family: sans;
}

h1 {
    text-align: center;
    color: var(--blue-headings);
}

h2, h3, h4, h5 {
    font-style: italic;
    color: var(--blue-headings);
}


.grid-container {
    display: grid;
    background-color: var(--purple-background-dark);
    border: 4px solid var(--purple-background-dark);
    width: 83vw;
    max-width: 830px;
    margin: auto;
}

.grid-item {
    background-color: var(--purple-background-light);
    border: 2px solid var(--purple-background-dark);
    padding: 6px;
    width: 35vw;
    max-width: 350px;
}

#professional {
    grid-column: 1;
}

#projects {
    grid-column: 1;
}

#notes {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 35wv;
    max-width: 350px;
}

#logos {
    grid-column: 3;
    grid-row: 1 / span 3;
    width: 8vw;
    max-width: 80px;
}

#lists {}


.logo-container {
    display: flex;
    flex-direction: column;
    width: 8vw;
    max-width: 80px;
}

.logo-figure {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3px;
    padding-right: 3px;
    width: 7vw;
    max-width: 70px;
}
