:root {
    --yellow: #b1951d;
    --light-yellow: #f6f1e1;
    --light-light-yellow: #fbf8ef;
    --orange-text: #da8b55;
    --blue-headings: #3a81c3;
    --aqua: #2d9574;
    --cyan: #21b8c7;
    --teal-links: #2aa1ae;
    --red-background: #eed9d2;
    --red-warning: #f2241f;
    --red-border: #ba2f59;
    --purple-background-light: #ddd8eb;
    --purple-background-dark: #9380b2;
    --purple-text-bright: #a31db1;
    --purple-text: #4e3163;
    --purple-title: #6c3163;
}

body {

    cursor: url(../resources/nyan.cur), auto !important;

    font-size: 15pt;

    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

    background-color: var(--light-light-yellow);

    color: var(--purple-text);

    line-height: 25pt;

    max-width: 950px;

    margin: 40px auto;

}


h1 {

    font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20pt;
    color: var(--blue-headings);

}


h2 {

    text-decoration: underline;
    color: var(--blue-headings);

}


h3,
h4 {

    font-style: italic;
    color: var(--blue-headings);

}


.inline-figure {

    display: inline;

}


p.subheader {

    font-weight: bold;
    color: var(--purple-text);

}


img {

    padding: 3pt;
    float: none;

}


a {

    text-decoration: none;
    color: var(--teal-links);

}


a:hover,
a:active {

    background-color: var(--yellow);
    color: var(--light-light-yellow);
    cursor: url(../resources/rainbow.png), auto !important;

}

code {

    background-color: var(--purple-background-light);
    padding-left: 7pt;
    padding-right: 7pt;
    color: var(--purple-text);

}

table {

    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 50pt;
    margin-bottom: 50pt;
    background-color: var(--purple-background-light);
    color: var(--purple-text);
    border-width: 4px;
    border-style: solid;
    border-color: var(--purple-background-dark);
    width: fit-content;

}

tr {

    border-bottom: 2px solid var(--purple-background-dark);

}

tr:hover {

    color: var(--purple-background-light);
    background-color: var(--purple-text-bright);

}

.grid-container {

    display: grid;

    grid-template-columns: auto auto auto auto;

    background-color: var(--light-light-yellow);

    padding: 10px;

}

.grid-figure {

    display: inline;

    margin-left: auto;

    margin-right: auto;

    margin-top: auto;

    margin-bottom: auto;

}


blockquote {

    background: var(--purple-background-light);

    border-left: 10px solid var(--purple-background-light);

    margin: 1.5em 10px;

    padding: 0.5em 10px;

    width: 800px;

}

.org-src-container {

    font-size: 12pt;

    line-height: 17pt;

}

.centered-figure {

    display: block;

    margin-left: auto;

    margin-right: auto;

    width: 50%;

    margin-top: 70px;

    margin-bottom: 70px;

}

.title {

    display: none;

}

.src.src-bibtex {

    font-size: small;

    line-height: 10pt;

}


ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--purple-background-light);
    position: fixed;
    top: 0;
    width: 950px;
}

li.nav-menu {
    float: left;
}

li.nav-menu a {
    display: block;
    color: var(--blue-headings);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-menu a:hover {
    background-color: var(--yellow);
}


pre.src {

    background: var(--purple-background-light);

    border: 10px solid var(--purple-background-light);

    box-shadow: none;
}
