:root {
    --yellow: #b1951d;
    --light-yellow: #f6f1e1;
    --light-light-yellow: #fbf8ef;
    --orange-text: #da8b55;
    --blue-headings: #3a81c3;
    --aqua: #2d9574;
    --cyan: #21b8c7;
    --teal-links: #2aa1ae;
    --red-background: #eed9d2;
    --red-warning: #f2241f;
    --red-border: #ba2f59;
    --purple-background-light: #ddd8eb;
    --purple-background-dark: #9380b2;
    --purple-text-bright: #a31db1;
    --purple-text: #4e3163;
    --purple-title: #6c3163;
}

body {

    cursor: url(../resources/nyan.cur), auto !important;

    font-size: 15pt;

    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

    background-color: var(--light-light-yellow);

    color: #4e316e;

    line-height: 25pt;

    max-width: 950px;

    margin: 40px auto;

}


h1 {

    font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;

    font-weight: bold;

    line-height: 20pt;

    color: #3a81c3;

}


h2 {

    text-decoration: underline;

    color: #3a81c3;

}


h3 {

    font-style: italic;

    color: #3a81c3;

}


h4 {

    font-style: italic;

    color: #3a81c3;

}


.inline-figure {

    display: inline;

}


p.subheader {

    font-weight: bold;

    color: #593d87;

}


img {

    padding: 3pt;

    float: none;

}


a {

    text-decoration: none;

    color: #007885;

}


a:hover, a:active {

    color: #850d00;

    cursor: url(../resources/rainbow.png), auto !important;;

}

code {

    background-color: #efeae9;

    padding-left: 7pt;

    padding-right: 7pt;

    color: #4e316e;

}

table {

    margin-left: 50pt;

    margin-right: 50pt;

    margin-top: 50pt;

    margin-bottom: 50pt;

    background-color: #efeae9;

    color: #4e316e;

    border-width: 3px;

    border-style: solid;

}

.grid-container {

    display: grid;

    grid-template-columns: auto auto auto auto;

    background-color: var(--light-light-yellow);

    padding: 10px;

}

.grid-figure {

    display: inline;

    margin-left: auto;

    margin-right: auto;

    margin-top: auto;

    margin-bottom: auto;

}


blockquote {

    background: #e8e3f0;

    border-left: 10px solid #ddd8eb;

    margin: 1.5em 10px;

    padding: 0.5em 10px;

    width: 800px;

}

.org-src-container {

    font-size: 12pt;

    line-height: 17pt;

}

.centered-figure {

    display: block;

    margin-left: auto;

    margin-right: auto;

    width: 50%;

    margin-top: 70px;

    margin-bottom: 70px;

}

.title {

    display: none;

}

.src.src-bibtex {

    font-size: small;

    line-height: 10pt;

}


ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd8eb;
    position: fixed;
    top: 0;
    width: 950px;
}

li.nav-menu {
    float: left;
}

li.nav-menu a {
    display: block;
    color: #3a81c3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-menu a:hover {
    background-color: #ecaa30;
}


pre.src {

    background: #e8e3f0;

    border: 10px solid #ddd8eb;

    box-shadow: none;
}
