:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

/* Here is a bunch of stuff that came from org-mode publishing. */
  #content { max-width: 60em; margin: auto; }
  .title  { text-align: center;
             margin-bottom: .2em; }
  .subtitle { text-align: center;
              font-size: medium;
              font-weight: bold;
              margin-top:0; }
  .underline { text-decoration: underline; }
  #postamble p { font-size: 90%; margin: .2em; }
  pre {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
  }
  pre.src {
    position: relative;
    overflow: auto;
  }
  pre.src:before {
    display: none;
    position: absolute;
    top: -8px;
    right: 12px;
    padding: 3px;
    color: #555;
    background-color: #f2f2f299;
  }
  pre.src:hover:before { display: inline; margin-top: 14px;}
  pre.src-python:before { content: 'Python'; }
  pre.src-R:before { content: 'R'; }
  pre.src-sh:before { content: 'shell'; }
  pre.src-shell:before { content: 'Shell Script'; }
  pre.src-bash:before  { content: 'bash'; }
  pre.src-html:before { content: 'HTML'; }

  table { border-collapse:collapse; }
  td, th { vertical-align:top;  }
  dt { font-weight: bold; }
  .footpara { display: inline; }
  .footdef  { margin-bottom: 1em; }
  .figure { padding: 1em; }
  .figure p { text-align: center; }

  /* And here are some tweaks I've made */

body {
    margin: 10px;
    background-color: var(--base3);
    color: var(--base01);
}

p,
li {
    line-height: 1.4;
    font-size: 17px;
    font-family: sans-serif;
}

#content {
    max-width: 45em;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
    color: var(--base01);
}

.figure {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.figure-number {
    font-weight: bolder;
    color: var(--base01);
}

a {
    color: var(--cyan);
}

a:hover {
    color: var(--red);
}

code {
    background-color: var(--base2);
}
